<h1>Willkommen zum Rezeptbuch.</h1>

<% @recipes.each do |recipe| %>
    <%= link_to recipe do %>
      <div>
        <%= recipe.title %>
        <%= image_tag recipe.image, size: 50 %>
      </div>
    <% end %>
<% end %>

<%= link_to "Neues Rezept erstellen", new_recipe_path %>
